<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">RECOMMENDATION</a>
  <a [routerLink]="['/history']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HISTORY</a>
  <a [routerLink]="['/countries']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">COUNTRIES</a>
  <a [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">TEAMS</a>
  <a [routerLink]="['/leagues']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">LEAGUES</a>
</nav>
